# Node modules
/node_modules

# Logs
*.log

# SQLite DBs
*.sqlite3

# Build products
/dist

# Jest coverage report
/coverage/*

#script local
killPort.sh
# Dotenv env settings
.env

#ai prompt kit
promptkit