@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lacquer&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Slackey&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
